

.search-query {
  width: 100%;
  height: max(24px, 7vh);
  padding: 0;
  display: flex;
  margin-bottom: 5vh;
}

.search-query img {
  width: max(24px, 7vh);
}

.search-query>label>input {
  width: min(50vh, 70vw);
  height: max(24px, 7vh);
  font-size: max(24px, 7vh);
  background-color: var(--back-color);
  color: var(--text-color);
  border: 1px solid var(--text-color);
  border-radius: 2px;
}

.article-list-main {
  line-height: 2;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  font-family: "Noto-Sans", Arial, Helvetica, sans-serif;
  color: var(--text-color);
  background-color: #8883;
}

.article-list-main>button {
  border-radius: var(--this-margin);
  border: none;
  position: relative;
  overflow: hidden;
  --this-width: 50%;
  --this-margin: 1vw;
  width: calc(var(--this-width) - 2 * var(--this-margin));
  margin: var(--this-margin);
  aspect-ratio: 4/3;
  background-color: var(--back-color);
}

.article-list-main>button>img {
  position: absolute;
  width: 100%;
  height: 80%;
  top: 0;
  left: 0;
  object-fit: cover;
}


.article-list-main>button>div {
  position: absolute;
  text-align: left;
  width: 100%;
  height: 20%;
  top: 80%;
  left: 0;
  color: var(--text-color);
}

.article-list-main>button>div h1 {
  font-size: 1.5vw;
  text-wrap: nowrap;
}

.article-list-main>button>div p {
  font-size: 1.5vw;
}


@media (max-aspect-ratio:2/3) {
  .article-list-main>button {
    --this-width: 100%;
  }

  .article-list-main>button>div h1,
  .article-list-main>button>div p {
    font-size: 3vw;
  }
}

@media (min-aspect-ratio:4/3) {
  .article-list-main>button {
    --this-width: 25%;
  }

  .article-list-main>button>div h1,
  .article-list-main>button>div p {
    font-size: 0.7vw;
  }
}
