---
import Layout from "@/layouts/Layout.astro";
import BasePageLayout from "@/components/BasePageLayout.astro";
export { getStaticPaths } from "../index.astro";
---

<Layout class="snap-mandatory snap-y">
    <BasePageLayout title="Contact">
        <h1>Musics</h1>
    </BasePageLayout>
</Layout>
