---
import BasePageLayout from "@/layouts/BasePageLayout.astro";
export { getStaticPaths } from "../index.astro";
---

<BasePageLayout title="Musics">
    <h1>Musics</h1>
    <p>in progress...</p>
</BasePageLayout>
