---
import Layout from "@/layouts/Layout.astro";
import BasePageLayout from "@/components/BasePageLayout.astro";
export { getStaticPaths } from "../index.astro";
---

<BasePageLayout title="Contact">
    <h1>Musics</h1>
</BasePageLayout>
