/* 肝心な初期化 */
* {
  /* デフォルトで余白をなくす */
  margin: 0;
  padding: 0;
}

:root {
  /* テーマに応じた色を設定する */
  --back-color: #111;
  --text-color: #eee;
  --link-color: aqua;
  --dark-visilibity: visible;
  --light-visilibity: hidden;
  /* menu */
  --header-height: 50px;
  --footer-height: calc(64px + 4 * 24px);
  /* hambburger menu */
  --hamburger-width: 400px;
  --infinity-ease: cubic-bezier(0.5, 0, 0.5, 1);
}

:root[theme="light"] {
  /* テーマに応じた色を設定する */
  --back-color: #eee;
  --text-color: #111;
}

@media screen and (max-width: 400px) {
  :root {
    --hamburger-width: 100%;
  }
}

html {
  min-height: 100%;
  position: relative;
}

body {
  /* 色の定義 */
  background-color: var(--back-color);
  color: var(--text-color);
  margin-bottom: var(--footer-height);
}

/* ヘッダーメニュー */
header.The-Infinitys-Header {
  /* ヘッダーの位置の固定 */
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  /* ヘッダーのデザイン */
  display: flex;
  background-color: color-mix(in srgb, var(--back-color), transparent 20%);
  padding: 0;
}

header.The-Infinitys-Header>a {
  width: auto;
  height: auto;
}

header.The-Infinitys-Header .logo {
  width: auto;
  height: 100%;
}

header.The-Infinitys-Header+* {
  margin-top: var(--header-height);
}
img.the-inf-icon{
  visibility: hidden;
}
svg.The-Infinitys-txt {
  position: absolute;
  top: calc(0.1 * var(--header-height));
  left: 0;
  height: calc(0.8 * var(--header-height));
  stroke: var(--text-color);
  fill: var(--text-color);
}
@media screen and (max-width: 350px) {
  svg.The-Infinitys-txt {
    display: none;
  }
  img.the-inf-icon {
    visibility: visible;
  }
}
#hamburger-button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: var(--header-height);
  height: var(--header-height);
  background-color: transparent;
  border: none;
}

#hamburger-label {
  position: absolute;
  top: 0;
  right: 0;
  width: var(--header-height);
  height: var(--header-height);
  background-color: transparent;
  border: none;
}

#hamburger-label>img.logo {
  opacity: 1;
  transition: opacity 0.5s cubic-bezier(0.5, 0, 0.5, 1),
    right 0.5s cubic-bezier(0.5, 0, 0.5, 1);
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#hamburger-button:checked+#hamburger-label>img.open {
  right: var(--header-height);
  opacity: 0;
}

:not(#hamburger-button:checked)+#hamburger-label>img.close {
  right: calc(-1 * var(--header-height));
  opacity: 0;
}

.Hamburger-Menu {
  right: calc(-1 * var(--hamburger-width));
  transition: right 0.5s var(--infinity-ease);
  position: fixed;
  top: var(--header-height);
  width: var(--hamburger-width);
  height: calc(100vh - var(--header-height));
  background-color: var(--back-color);
  color: var(--text-color);
  border: none;
}

#hamburger-button:checked+#hamburger-label+.Hamburger-Menu {
  right: 0;
}

.Hamburger-Menu img.icon {
  width: calc(0.8 * var(--header-height));
  height: calc(0.8 * var(--header-height));
}

.Hamburger-Menu svg {
  width: auto;
  height: calc(0.8 * var(--header-height));
}

#change-color-theme {
  width: fit-content;
  padding: calc(0.1 * var(--header-height));
  border-radius: calc(var(--header-height) * 0.8);
  background-color: var(--back-color);
  border: 2px solid var(--text-color);
}


.Hamburger-Menu a {
  font-family: "noto-sans", system-ui, sans-serif;
  text-decoration: none;
  color: var(--text-color);
  font-size: calc(0.8 * var(--header-height));
}

.Hamburger-Menu>div {
  width: 100%;
  height: calc(0.8 * var(--header-height));
  margin-top: calc(0.5 * var(--header-height));
  margin-left: calc(0.2 * var(--header-height));
}

.Hamburger-Menu>div>a {
  display: flex;
}

/* 背景 */
#BackGround {
  position: fixed;
  z-index: -10000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#BackGround>div {
  display: none;
}

.background.fill,
#BackGround>div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.background.center {
  position: fixed;
  width: 50vmin;
  height: 50vmin;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.background.left {
  position: fixed;
  left: 0;
}

.background.right {
  position: fixed;
  right: 0;
}

.background.top {
  position: fixed;
  top: 0;
}

.background.bottom {
  position: fixed;
  bottom: 0;
}

.background.over {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

#BackGround>div[data-background-name="fluffycat"] {
  background-color: aqua;
}

.dark {
  visibility: var(--dark-visilibity);
}

.light {
  visibility: var(--light-visilibity);
}

@keyframes rainbow-animation {
  from {
    background-position: 0;
  }

  to {
    background-position: 200%;
  }
}

.rainbow {
  background: linear-gradient(to left,
      #f00,
      #ff0,
      #0f0,
      #0ff,
      #00f,
      #f0f,
      #f00,
      #ff0,
      #0f0,
      #0ff,
      #00f,
      #f0f,
      #f00) 0/200%;
  animation: 10s rainbow-animation linear infinite;
}

.translucent {
  opacity: 0.25;
}

section.Title {
  margin-top: 5vh;
  padding-bottom: 10vh;
  box-sizing: border-box;
  text-align: center;
  font-family: "noto serif", serif;
  font-size: 5vw;
  background-color: transparent;
  color: var(--text-color);
  text-align: center;
  padding: 0;
}

section {
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 5%;
  box-sizing: border-box;
  background-color: color-mix(in srgb, var(--back-color) 87%, transparent);
  border-bottom: 2px solid #888;
  color: var(--text-color);
}

section * {
  line-height: 2em;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

footer.The-Infinitys-Footer {
  text-align: right;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--footer-height);
  font-family: "noto-sans", system-ui, sans-serif;
  background-color: color-mix(in srgb, var(--back-color), transparent 2%);
}

footer.The-Infinitys-Footer a {
  font-size: 20px;
  padding-bottom: 4px;
}
footer.The-Infinitys-Footer h1 {
  text-align: center;
}
#mouse-stalker {
  position: fixed;
  top: 100vh;
  left: 100vw;
  z-index: 77777;
  width: calc(var(--header-height) / 2);
  aspect-ratio: 1;
  transform: translate(-50%, -50%);
  background-color: var(--text-color);
  opacity: 0.5;
  pointer-events: none;
  border-radius: 50%;
}

#mouse-stalker img {
  position: absolute;
  width: 100%;
  height: auto;
}
