---
// src/components/Logo.astro
import LogoSrc from "@/assets/icon.svg?raw"; // ?raw を追加

interface Props {
    class?: string; // 外側からサイズや色を指定できるように
}

const { class: className } = Astro.props;
---

<div class:list={[className, "[&>svg]:w-full [&>svg]:h-full"]}>
    <Fragment set:html={LogoSrc} />
</div>
