/* い　つ　も　の */
* {
  padding: 0;
  margin: 0;
}

:root {
  --sns-icon-size: 200px;
}

@media (max-screen-width:500px) {
  :root {
    --sns-icon-size: 30vw;
  }
}

body {
  background-color: rgba(0, 0, 0, 1);
  color: white;
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div.background {
  background-color: #000000;
  z-index: -1000;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

div.background>img {
  opacity: 0.1;
  position: absolute;
  width: calc(100vw);
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-aspect-ratio:16/9) {
  div.background>img {
    height: calc(100vh);
    width: auto;
  }
}

section {
  padding-top: 96px;
  padding-left: 48px;
  padding-right: 48px;
  width: calc(100% - 48px * 2);
}

hr {
  height: 1px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
}

section h1 {
  font-weight: 500;
  font-size: 48px;
}

section h2 {
  font-weight: 400;
  font-size: 44px;
}

section p {
  font-weight: 400;
  font-size: 20px;
}

section h1,
section h2,
section h3,
section h4,
section h5,
section h6,
section p {
  line-height: 2.3;
}

section.center {
  text-align: center;
}

section.left {
  text-align: left;
}

section[name="news"]>div {
  margin-top: 48px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  width: calc(var(--sns-icon-size) * 3);
  height: var(--sns-icon-size);
  display: flex;
}

section[name="news"]>div>img.sns-icon {
  width: var(--sns-icon-size);
  margin-left: calc(var(--sns-icon-size) * 0.25);
  margin-right: calc(var(--sns-icon-size) * 0.25);
  aspect-ratio: 1;
}

footer {
  width: 100%;
  height: 24px;
  font-size: 24px;
  text-align: right;
}