---
// src/layouts/Layout.astro
import { Font } from "astro:assets";
import { ClientRouter } from "astro:transitions";
import Header from "@/components/Header.astro";
import Background from "@/components/Background.astro";

import "../styles/global.css";
// 現在の言語を取得 (Astroのi18n設定と連動)
const lang = Astro.currentLocale || "en";
---

<!doctype html>
<html lang={lang}>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <ClientRouter />
        <Font cssVariable="--font-orbitron" preload />
        <Font cssVariable="--font-chakrapetch" preload />
        <title>The Infinity's</title>
    </head>
    <body class={Astro.props.class}>
        <Background />
        <Header />
        <slot />
    </body>
</html>
