---
// src/layouts/Layout.astro
import { Font } from "astro:assets";
import { ClientRouter } from "astro:transitions";
import Header from "@/components/Header.astro";
import Background from "@/components/Background.astro";
import Footer from "@/components/Footer.astro";
import "../styles/global.css";

interface Props {
    title?: string;
    description?: string;
    class?: string;
}

const {
    title = "The Infinity's",
    description = "The Infinity's official website", // ← サイト全体の説明
    class: className,
} = Astro.props;

const lang = Astro.currentLocale || "en";
---

<!doctype html>
<html lang={lang}>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <ClientRouter />
        <meta name="description" content={description} />
        <Font cssVariable="--font-orbitron" />
        <Font cssVariable="--font-chakrapetch" />
        <Font cssVariable="--font-ibm-plex-sans-jp" />
        <title>{title}</title>
    </head>
    <body class={className}>
        <Background />
        <Header />
        <main>
            <slot />
        </main>
        <Footer />
    </body>
</html>
